version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      nextjs:
        patterns:
          - "next"
          - "eslint-config-next"
      typescript:
        patterns:
          - "typescript"
          - "@types/*"
      linting:
        patterns:
          - "eslint"
          - "eslint-*"